<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Dm:</strong>
  <%= @user.dm %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.roles %>
</p>

<p>
  <strong>Reviews count:</strong>
  <%= @user.reviews_count %>
</p>


<%= link_to 'Edit Prof', edit_user_path(@user) %>
<br>
<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books_list.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= book.created_at %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Book', new_book_path %> |
<%= link_to 'Show All', books_path %>

<h2>Likes</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @likes.each do |like| %>
      <tr>
        <td><%=
          @book1 = @books.find_by(id: like.book_id)
          @users.find_by(id: @book1.user_id).username
        %></td>
        <td><%= like.book_id %></td>
        <td><%= link_to 'Show', book_path(like.book_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
