<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book.user.username %>
</p>
<p>
  <strong>Book ID:</strong>
  <%= @book.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @book.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
</p>

<p>
  <strong>Like Count:</strong>
  <%= @book.likes_count %>
</p>

<%= link_to_if @book.user_id == @user_id.to_i, 'Edit', edit_book_path(@book) %> |
<%= link_to 'My Page', user_path(@user_id) %> |
<%= link_to 'Show All', books_path %>
<%= link_to_if !@like_exist, 'Like', likes_path(like: {user_id: session[:usr], book_id: @book.id}), method: :post %>
<%= link_to_if @like_exist, 'Remove Like', @like, method: :delete, data: { confirm: 'Are you sure?' } %>


